@page "/"
@using System.Text

<PageTitle>Home</PageTitle>

<div class="input-group mb-3">
    <input @bind="password" readonly="readonly" type="text" class="form-control">
    <span @onmouseenter="@(()=>OnEmojiHover(iconType:"copy"))" @onmouseleave="@OnEmojiMouseLeft" class="input-group-text my-clickable-button @onHoverCopyCss" id="basic-addon2">📄</span>
    <span @onclick="HandleGeneratePasswordClick" @onmouseenter="@(()=>OnEmojiHover(iconType:"generate"))" @onmouseleave="@OnEmojiMouseLeft" class="input-group-text my-clickable-button @onHoverGenerateCss" id="basic-addon3">🔄</span>
    <span @onclick="HandleSavePasswordClick" @onmouseenter="@(()=>OnEmojiHover(iconType:"save"))" @onmouseleave="@OnEmojiMouseLeft" class="input-group-text my-clickable-button @onHoverSaveCss" id="basic-addon4">💾</span>
</div>
<div class="card mt-3">
    <div class="card-header">
        💾 Saved Passwords
    </div>
    <div class="card-body">
        <ul class="list-group">
            @foreach (var savedPassword in savedPasswords)
            {
                <li class="list-groupitem">@savedPassword</li>
            }
        </ul>
    </div>
</div>


@code
{
    private string password = string.Empty;
    private int passwordLenght = 6;
    private List<string> savedPasswords = [];

    private string onHoverCopyCss = string.Empty;
    private string onHoverGenerateCss = string.Empty;
    private string onHoverSaveCss = string.Empty;

    private static Random random = new Random();
    private static StringBuilder stringBuilder = new StringBuilder();

    private void HandleGeneratePasswordClick()
    {
        stringBuilder.Clear();

        for (int i = 0; i < passwordLenght; i++)
        {
            stringBuilder.Append(random.Next(0, 10));
        }

        password = stringBuilder.ToString();
    }

    private void HandleSavePasswordClick()
    {
        if (string.IsNullOrEmpty(password) || savedPasswords.Exists(x=>x==password))
            return;


        savedPasswords.Insert(0, password);
    }

    private void OnEmojiHover(string iconType)
    {
        switch (iconType)
        {
            case "copy":
                onHoverCopyCss = "bg-secondary";
                break;

            case "generate":
                onHoverGenerateCss = "bg-secondary";
                break;

            case "save":
                onHoverSaveCss = "bg-secondary";
                break;

            default:

                break;
        }
    }

    private void OnEmojiMouseLeft()
    {
        onHoverCopyCss = "";
        onHoverGenerateCss = string.Empty;
        onHoverSaveCss = "";
    }
}
